*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
/* Header and Navigation Section */
header{
	width: 100%;
	height: 70vh;
	background-image: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .5)), url('images/backimg.jpeg');
	background-position: bottom;
	background-size: cover;
}
nav{
	width: 100%;
	padding: 0 5%;
	height: 90px;
	background-color: rgba(0, 0, 0, .65);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
}
#logo{
	color: white;
	font-size: 28px;
}
#navlinks{
	display: flex;
}
#navlinks li{
	margin: 0 5px;
	list-style: none;
}
#navlinks li a{
	color: white;
	text-decoration: none;
	padding: 7px 15px;
	font-size: 15px;
}
#navlinks li a:hover{
	background-color: rgba(110, 120,130, .6);
}
#searchbar input{
	padding: 3px 10px;
	outline: none;
	width: 150px;
}
#searchbar button{
	padding: 4px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
}
.menubtn{
	display: none;
	z-index: 10;
}
.menubtn div{
	width: 30px;
	height: 4px;
	margin: 6px 0;
	background-color: whitesmoke;
	border-radius: 10px;
	transition: .4s;
	transform-origin: left;
}

.content{
	width: 100%;
	height: calc(70vh - 90px);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: white;
	text-align: center;
}
.content div{
	width: 65%;
}
.content div h1{
	font-size: 40px;
	margin: 15px 0;
}
.content div p{
	margin: 15px 0;
}
.content div button{
	padding: 7px 20px;
	color: white;
	background-color: brown;
	border-radius: 50px;
	border: none;
}
button:hover{
	cursor: pointer;
	opacity: .8;
}

/* Our Services Section */
.service{
	width: 85%;
	margin: 5% auto;
	text-align: center;
}
.service h1, .clients h1, .contact h1{
	margin: 3% 0;
	font-size: 35px;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.service-column{
	flex-basis: 31%;
	background-color: #f3e5dc;
	padding: 3%;
	border: 3px solid brown;
	border-radius: 20px;
}
.service-column img{
	height: 155px;
	width: 70%;
}
.service-column h2{
	margin: 15px 0;
}
.service-column p{
	font-size: 14px;
}

/* Our Clients Section */
.clients{
	width: 100%;
	margin: 5% auto;
	text-align: center;
	padding: 8%;
	background-image: linear-gradient(to left,#dedede,white, #dedede);
}
.client-row{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;

}
.clients img{
	height: 100px;
	margin: 0 20px;
}
/* contact us section */
.contact{
	width: 100%;
	margin: 6% auto;
	text-align: center;
	background-color: #f3e5dc;
	padding: 3%;
}
.form{
	width: 70%;
	padding: 0 2%;
	margin: auto;
}
.form input{
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin: 5px 0;
	padding: 0 15px;
}
.form textarea{
	width: 100%;
	height: 120px;
	border-radius: 5px;
	padding: 15px;
	margin: 10px 0;
	border: none;
	resize: none;
}
.form button{
	padding: 10px 20px;
	background-color: brown;
	color: white;
	border: none;
	border-radius: 5px;
}
/* footer */
footer{
	width: 100%;
	height: 80px;
	background-color: brown;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer p{
	color: white;
}

/* For Mobile Screen */
@media (max-width: 768px){
	#logo{
		font-size: 25px;
	}
	nav{
		height: 120px;
	}
	#navlinks{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: -100vh;
		left: 0;
		background-color: rgba(174, 32, 41, .9);
		flex-direction: column;
		text-align: center;
		justify-content: center;
		transition: .4s;
	}
	#navlinks li{
		margin: 30px 0;
	}
	#searchbar input{
		width: 100px;
	}
	.menubtn{
		display: inline-block;
		position: absolute;
		top: 65%;
		right: 5%;
	}
	.content div{
		width: 95%;
	}
	.content div h1{
		font-size: 30		margin: 15px 0;
	}
	.content div p{
		font-size: 13px;
	}
	.row,.client-row{
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.service-column{
		margin: 15px 0;
		padding: 10px 40px;
	}
	.service h1, .clients h1, .contact h1{
		font-size: 26px;
	}
	.client-row img{
		width: 30%;
		height: 30%;
		margin: 20px 0;
	}
	.form{
		width: 90%;
	}
	footer p{
		font-size: 12px;
		text-align: center;
	}
}